$backgrounds: #E9E9E9;
$headers: #3299bb;
$accents: #ff9900;

html{
	background: $backgrounds;
}

body{
	background: $backgrounds;
	padding: 2em;
}

h1,h2,h3,h4,h5,h6{
	color: $headers;
}

a{
	color: $accents;
}

h1 {
  background-color: $headers;
  color: white;
  padding: 1em;
}

ul {
  margin-left: 1.1rem;
}